html,
body {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    color: #86939e;
    font-family: "Roboto", sans-serif, serif;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 300;
    letter-spacing: 0.2px;
    padding-right: 0 !important;
    font-family: 'Roboto', sans-serif;
}

.nav {
    border-top: 1px solid #e1e8ee;
    border-bottom: 1px solid #e1e8ee;
}

.btn-light {

    border: 2px solid #e1e8ee;
    background: #f5f8fa;
}

nav .btn-light {
    padding: 8px 20px !important;
    display: block;
    font-size: 13px;
    line-height: 20px;
    font-weight: 300;
}


.search-card .card {
    background-color: #F5F8FA !important;
    border-bottom: 1px solid #e1e8ee;
    border-top: 1px solid #e1e8ee;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-bottom: 100px !important;
    background: url(../img/icon-circles.png) no-repeat scroll center bottom;
}

.search-card .card h1 {
    color: #86939e;
    font-weight: 900;
    font-size: 60px;
}

@media (max-width: 1031px) {
    .search-card .card h1 {
        font-size: 30px;
    }
}

.search-card .card p {
    color: #6c757d !important;
    font-weight: 100;
    margin: 0 auto;
    padding-bottom: 15px;
    padding-top: 30px;
    text-align: center;
    width: 70%;
    margin-bottom: 30px;
}

@media (min-width: 1031px) {
    .search-card .card p {
        font-size: 22px;
    }
}

.search-card .card .search-field {
    /* width: 70%; */
    font-size: 18px;
    border-radius: 30px;
    border: 2px solid #e1e8ee;
    padding: 0px 30px;
    margin-top: 20px;
    /* margin-bottom: 20px; */
    height: 60px;
    -webkit-appearance: none;

}


.search-card .card::after {
    background: transparent url(../img/telescope.png) no-repeat scroll center bottom;
    bottom: -65px;
    content: "";
    display: block;
    height: 128px;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    right: 0;
    width: 128px;
}

.dt-button,
#close {
    border: none !important;
    /* background: #e1e8ee !important; */
    background: #F5F8FA !important;

}


@media (min-width: 1224px) {

    .vertical-line {
        /* display: inline-block; */
        display: inline;
        border-left: 2px solid #e1e8ee;
        margin: 0 16px;
        height: 38px;
    }
}

/* #searchbutton {
    position: absolute !important;
    right: 25px !important;
    top: 25px !important;
    background: none !important;
    border: none !important;
    font-size: 30px !important;
    color: #86939e !important;
} */